.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 70px;
	padding: 20px;
	color: white;
}

.App-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.App-body h2 {
	text-transform: uppercase;
	font-weight: 100;
	margin: 0;
}

.side-cons,
.side-pros {
	flex-grow: 2;
	border: 1px solid black;
}

.side-cons {
	border-left: none;
}

.side-cons ul,
.side-pros ul {
	list-style: none;
	font-weight: bold;
}

.side-cons input,
.side-pros input {
	margin-left: 5px;
	border: 0;
	height: 22px;
	width: 270px;
}

.App-body .title {
	padding: 28px;
	border-bottom: 1px solid black
}

.App-body input:focus {
	box-shadow: 0px 0 6px 0px;
}

.App-body li {
	margin: 15px;
}

.title .fake {
	text-decoration: line-through;
	font-style: italic;
	color: #dcdcdc;
}
